<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="styleSheet">
	<script th:src="@{/js/common.js}"></script>
	<title>Book Memory</title>
</head>
<body>
	<header th:replace="common :: header"></header>
	<div class="container">
		<form th:action="@{/book/record}" id="recordForm" method="post">
			<div class="text-center">
				<h2>Book Record List</h2>
				<div class="form-group pb-3">
					<div th:if="${recordLsit.size() == 0}">No book record.</div>
					<div th:if="${recordLsit.size() != 0}">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th scope="col" style="width: 35%">Title</th>
									<th scope="col" style="width: 35%">Author</th>
									<th scope="col" style="width: 35%">Status</th>
								</tr>
							</thead>
							<tbody id="recordBody">
								<tr th:each="record :${recordLsit}" th:object="${record}">
									<td>
										<a th:href="@{recordDetail?(userNo=${userNo},recordNo=${record.recordNo})}">
											<span th:text="${record.title}"></span>
										</a>
									</td>
									<td th:text="${record.author}"></td>
									<td th:text="${record.statusName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
				<!-- Button -->
				<span th:if="${recordLsit.size() != 0}">
					<button type="button" class="btn bg-info text-white" onclick="getCsv('recordForm')">GetCSV</button> 
				</span>
				<button type="button" class="btn bg-info text-white" onclick="createNew('recordForm')">Create</button>
				<button type="button" class="btn bg-info text-white" onclick="backPage('recordForm')">Back</button>
				
				<!-- hidden value -->
				<input type="hidden" name="userNo" th:value="${userNo}">
				<input type="hidden" name="result" th:value="${result}">
				<input type="hidden" name="pageType" value="">
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
	var script = document.createElement('script');
	script.thsrc = '@{/js/common.js}';
	var head = document.getElementsByTagName('head')[0];
	head.appendChild(script);
	
	// onload
	window.onload = function(){
		const result = document.getElementsByName("result")[0].value;
		
		// alert message
		switch(result){
			case "0":
				alert("Updating was completed.");
			break;
			case "1":
				alert("Creating was completed.");
			break;
			case "2":
				alert("Deleting was completed.");
			break;
			case "3":
				alert("Processing failed.");
			break;
			default:
			break;
		}		
	}
/*]]>*/
</script>
</html>