<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BookRecordMapper">

	<!-- get  book record list -->
	<select id="getBookRecordList" resultType="com.example.demo.entity.BookRecord">
		SELECT
			user_no AS userNo,
			record_no AS recordNo,
			title,
			author,
			start_date AS startDate,
			finish_date AS endDate,
			input_date AS inputDate,
			status,
			memo
	    FROM
	        record
	    WHERE
	    	 user_no = #{userNo}
	</select>
	
	<!-- get a book note -->
	<select id="getBookRecord" resultType="com.example.demo.entity.BookRecord">
		SELECT 
			user_no AS userNo,
			record_no AS recordNo,
			title,
			author,
			start_date AS startDate,
			finish_date AS endDate,
			input_date AS inputDate,
			status,
			memo
	    FROM
	        record
	    WHERE
			record_no = #{recordNo}
	</select>
    
    <!-- insert new note -->
	<insert id="insertNewRecord" parameterType="com.example.demo.entity.BookRecord">
        INSERT INTO record
        (
            user_no,
			title,
			author,
			start_date,
			finish_date,
			input_date,
			status,
			memo
        )
        VALUES
        (
            #{userNo},
			#{title},
			#{author},
			#{startDate},
			#{endDate},
			#{inputDate},
			#{status},
			#{memo}
        )
    </insert>
    
     <!-- insert new note -->
	<update id="updateRecord" parameterType="com.example.demo.entity.BookRecord">
        UPDATE record
        SET
			title = #{title},
			author = #{author},
			start_date = #{startDate},
			finish_date = #{endDate},
			input_date = #{inputDate},
			status = #{status},
			memo = #{memo}
		WHERE
			record_no = #{recordNo}
    </update>
    
    <delete id="deleteRecord">
    	DELETE FROM record
    	WHERE
			record_no = #{recordNo}
    </delete>
</mapper>